* {
	box-sizing: border-box;
}

html {
	background-color: #0a0c10;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: transparent;
	color: #fff;
	font-size: 18px;
	line-height: 28px;
	font-weight: 100;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;

	padding: 0 20px;

	display: block;
}

.content {
	width: 100%;
	margin: 100px auto 0;

	display: flex;
	align-items: center;
	flex-wrap: nowrap;

	position: relative;

	@media screen and (max-width: 1024px) {
		margin: 40px auto 0;

		flex-wrap: wrap;
	}

	&__left {
		width: 55%;
		padding-right: 20px;

		@media screen and (max-width: 1024px) {
			width: 100%;
			max-width: 480px;

			padding-right: 0;
			padding-bottom: 30px;
		}
	}

	&__right {
		width: 45%;

		position: relative;

		@media screen and (max-width: 1024px) {
			width: 100%;
			margin-left: 10px;
			padding-bottom: 40px;
		}

		&::before {
			background-color: #ff0000;

			width: 128px;
			height: 20px;

			margin: 0;
			display: block;

			position: absolute;
			top: -10px;
			left: -10px;

			content: '';

			z-index: -10;

			@media screen and (max-width: 1024px) {
				width: 92px;
			}
		}
	}
}

.socials {
	width: 100%;
	margin: 0 auto 20px;

	padding-top: 40px;
	padding-bottom: 40px;

	display: block;
	position: relative;

	&::before {
		background-color: #ffffff;

		width: 50%;
		max-width: 256px;

		height: 4px;
		margin: 0;
		display: block;

		position: absolute;
		top: 0;
		left: 0;

		content: '';
	}

	ul,
	li {
		width: 100%;
		margin: 0;
		padding: 0;
		display: block;
		list-style: none;
	}

	ul {
		margin-bottom: 40px;
	}

	li {
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}

		&.work,
		&.location,
		&.contact {
			background-repeat: no-repeat;
			background-position: 2px 50%;
			background-size: 14px 14px;

			padding-left: 30px;

			font-size: 20px;
			line-height: 30px;
		}

		&.location {
			background-image: url('../img/icon-location.svg');
		}

		&.contact {
			background-image: url('../img/icon-email.svg');
		}
	}
}

img {
	width: 100%;
	max-width: 256px;
	margin: 0;
	display: block;
}

h1 {
	margin: 0 auto 20px;

	color: #ff0000;
	font-size: 60px;
	font-weight: 900;
	line-height: 60px;

	@media screen and (max-width: 1024px) {
		font-size: 40px;
		line-height: 40px;
	}
}

h2 {
	margin: 0 auto 20px;

	color: #ffffff;
	font-size: 60px;
	font-weight: 100;
	line-height: 60px;

	@media screen and (max-width: 1024px) {
		font-size: 40px;
		line-height: 40px;
	}
}

p {
	margin: 0 auto 20px;

	color: #ffffff;
	font-size: 18px;
	line-height: 28px;
}

.button {
	background-color: #444444;
	border: 1px solid transparent;
	width: auto;

	margin: 0 15px 0 0;
	padding: 6px 14px;

	display: inline-block;

	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;

	text-decoration: none;

	border-radius: 3px;
	transition: ease-in-out background-color 0.25s, transform 0.25s;

	&--ext,
	&--gh,
	&--yt {
		background-image: url('../img/icon-arrow.svg');
		background-repeat: no-repeat;
		background-position: 14px 50%;
		background-size: 16px 16px;

		padding: 6px 14px 6px 40px;
	}

	&--gh {
		background-color: #222222;
		background-image: url('../img/icon-social-github.svg');
	}

	&--yt {
		background-color: #ff0000;
		background-image: url('../img/icon-social-youtube.svg');
	}

	&:hover {
		transform: scale(1.1);
	}

	&:focus {
		border-color: #ffffff;

		outline: none;
	}
}
